<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Food Detector</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <style>
    /* body {
      background-image: "static/mmm.png" ;
      background-repeat: no-repeat;
      background-size: cover;
    } */

    .form-container {
      margin-left: 98px;
      margin-top: 150px;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
      width: 383px;
      height: 230px;
      border: 2px solid black;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  </style>
</head>

<body>
  <!-- <img src="/home/shobhit/Desktop/hackaton-projects/dl-projects/food-image-model/static/mmm.png" /> -->

  <div class="background-container">
    <div class="form-container">
      <form method="post" action="{{ url_for('predict') }}" enctype="multipart/form-data">
        <h2>Food Detector</h2>
        <label for="imageFile">Upload file:</label>
        <!-- <input type="file" id="imageFile" name="imageFile" accept="video/*" style="margin-left:50px"> -->
        <input type="file" id="imageFile" name="image" accept="image/*" style="margin-left:50px">
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
  </div>

</body>

</html>